<button (click)="showDialog = !showDialog" class="btn btn-dark mt-2"> Add User </button>

<div class="card card-body mb-2 mt-2" *ngIf="!showDialog">
  <h2>Add User</h2>
  <form #userForm ="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group mb-2">
        <label for="">First Name</label>
        <input type="text"
               class="form-control"
                [(ngModel)]="user.firstName"
                [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched} "
                name="firstName"
                #userFirstName="ngModel"
                required
                minlength="2"
                >
          <div [hidden]="!userFirstName.errors?.['required']" class="invalid-feedback">
            First Name is required
          </div>
          <div [hidden]="!userFirstName.errors?.['minlength']" class="invalid-feedback">
            FrstName requires atleast 2 characters
          </div>
      </div>
      <div class="form-group mb-2">
        <label for="">Last Name</label>
          <input type="text"
               class="form-control"
                [(ngModel)]="user.lastName"
                [ngClass]="{'is-invalid':userlastName.errors && userlastName.touched} "
                name="lastName"
                #userlastName="ngModel"
                required
                minlength="2"
                >
          <div [hidden]="!userlastName.errors?.['required']" class="invalid-feedback">
            LastName  is required
          </div>
          <div [hidden]="!userlastName.errors?.['minlength']" class="invalid-feedback">
            LastName requires atleast 2 characters
          </div>
      </div>
      <div class="form-group mb-2">
        <label for="">Email</label>
          <input type="text"
               class="form-control"
                [(ngModel)]="user.email"
                [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched} "
                name="email"
                #userEmail="ngModel"
                required
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                >
          <div [hidden]="!userEmail.errors?.['required']" class="invalid-feedback">
            LastName  is required
          </div>
          <div [hidden]="!userEmail.errors?.['pattern']" class="invalid-feedback">
            Email is not valid
          </div>
      </div>
      <!-- <div class="form-group mb-2">
        <label for="">Age</label>
        <input type="text" class="form-control" [(ngModel)]="user.age"name="age">
      </div>
      <div class="form-group mb-2">
        <label for="">Street</label>
        <input type="text" class="form-control" [(ngModel)]="user.address.street"name="street">
        {{user.address.street}}
      </div>
      <div class="form-group mb-2">
        <label for="">City</label>
        <input type="text" class="form-control" [(ngModel)]="user.address.city"name="city">
        {{user.address.city}}
      </div>
      <div class="form-group mb-2">
        <label for="">State</label>
        <input type="text" class="form-control" [(ngModel)]="user.address.state"name="state">
        {{user.address.state}}
      </div> -->


        <!-- <button (click)="addUser(user)" [disabled]="!enableAdd" class="btn mb-2 bg-light w-100">Add New User</button> -->
        <!-- <button (click)="addUser()" [disabled]="user.firstName == '' || user.lastName == ''" class="btn mb-2 bg-light w-100">Add New User</button> -->
        <!-- <button  [disabled]="user.firstName == '' || user.lastName == ''" class="btn mb-2 bg-light w-100">Add New User</button> -->
        <button  [disabled]="!userForm.form.valid" class="btn mb-2 bg-light w-100">Add New User</button>

  </form>

</div>

  <div class="d-grid col-6 mx-auto">
  <!-- <button [disabled]="!enableAdd" class="btn mb-2" [ngClass]="currentClasses" type="button">Add New User</button> -->
  <!-- <button (click)="addUser({firstName:'Neil',lastName:'Mukesh',isActive:true ,registered:'01/02/0'})" [disabled]="!enableAdd" class="btn mb-2 bg-light" type="button">Add New User</button> -->
  </div>
    <ul class="list-unstyled" *ngIf="loadingUsers && users.length > 0">

            <!-- <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive" [style.border-color]="user.isActive? 'green':'red'"> -->
              <li class="card card-body mb-2 mt-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
              <!-- <div class="row">
                <div class="col-sm-4">
                  <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt="" style="width: 10rem;height: 10rem;">
                </div> -->
                <div class="col-sm-6">
                  <!-- <h3 [ngStyle]="currentStyle">{{user.firstName}} {{user.lastName}}</h3> -->
                  <h3>{{user.firstName}} {{user.lastName}}<small *ngIf="user.email"><button (click)="toggleButton(user)" class="btn btn-dark btn-sm">
                    <i [ngClass]="user.hide?'fa fa-plus':'fa fa-minus'"></i>
                  </button></small></h3>
                  <!-- <ul class="list-group" *ngIf="user.age && user.address && showExtended" > -->
                    <ul class="list-group" *ngIf= "!user.hide" >
                    <!-- {{user.isActive}} -->
                    <!-- <li class="list-group-item"> Age: {{user.age}}</li> -->
                    <!-- <li class="list-group-item"> Address : {{user?.address?.street}}</li> -->
                    <!-- <li class="list-group-item"> Address : {{user.balance | currency:"GBP":"symbol"}}</li> -->
                    <li class="list-group-item"> Email : {{user.email}}</li>
                    <li class="list-group-item"> Registered : {{user.registered | date:"mm/dd/YYYY"}}</li>
                  </ul>
                </div>
              <!-- </div> -->
            </li>
    </ul>

    <h4 *ngIf="!loadingUsers"> Loading User....</h4>
    <h4 *ngIf="loadingUsers && users.length === 0"> No Loads Found ...</h4>
